/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body
    font-family 'Open Sans'!important

a
    font-weight 600

.accent
    color: $accentColor

.light
    color: $lightColor

.site-name, h1
    font-family 'Syne Mono'

.home .hero img
    max-width 450px!important

.navbar .logo
    margin-right: 0.2rem!important
